<?xml version="1.0"?>
<launch>

        <!-- start summit_xl_control nodes -->
        <include file="$(find summit_xl_control)/launch/summit_xl_control.launch">
            <arg name="id_robot" value="$(arg id_robot)"/>
            <arg name="prefix" value="$(arg base_prefix)"/>
            <arg name="sim" value="true"/>

            <arg if="$(arg omni_drive)" name="kinematics" value="omni"/>
            <arg unless="$(arg omni_drive)" name="kinematics" value="skid"/>

            <arg name="ros_planar_move_plugin" value="$(arg ros_planar_move_plugin)"/>
            <arg name="sim_arm_control" value="false"/>
            <arg name="launch_pantilt_camera_controller" value="$(arg has_pantilt_camera)"/>

            <arg name="arm_manufacturer" value="$(arg arm_manufacturer)"/>
            <arg name="arm_model" value="$(arg arm_model)"/>
            <arg name="arm_prefix" value="$(arg arm_prefix)"/>
            <arg name="odom_broadcast_tf" unless="$(arg launch_robot_ekf_localization)" value="true"/>
            <arg name="odom_broadcast_tf" if="$(arg launch_robot_ekf_localization)" value="false"/>
        </include>

</launch>